.row {
  padding: 10px 0;
  //outline: 1px dotted orange;
}

.nav li a {
  border: 0px solid red;
  padding: 5px;
  margin: 0 2px;
}

small {
  color: gray;
}

.container-fluid {
  //outline: 1px solid green;
}

h3 {
  outline: 1px dashed black;
}

th {
  text-align: center;
}

th:first-child,
td:first-child {
  text-align: left;
}